@*
 * メインテンプレート。各ページの共通レイアウトを定義します。
 *
 * @param title ページのタイトル。
 * @param content ページのコンテンツ。
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>

    <body>
        <main>
            @content
        </main>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
